[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
unittest = "*"

[packages]
sanic = "*"
gunicorn = "*"
aiohttp = "*"
psycopg2 = "*"
aiojobs = "*"
asyncio = "*"
apscheduler = "*"
pyyaml = "*"
vcrpy-unittest = "*"

[requires]
python_version = "3.6"
