# Helpscout api credentials and webhook screet key
helpscout:
  client_id: client_id
  client_secret: client_secret
  secret_key: secret_key

# Database configuration
database:
  name: db_name
  host: db_host
  port: db_port
  user: db_user
  password: db_password

# SQL Params
sql:
  sql_query: sql_param

# Other Params
domain_exception: '@mydomain.com'